$subtext: #727272;

.cardContainer {
    margin: auto;
    padding: 5px;
    width: 353px;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background-color: white;

    hr {
        margin-top: 8px;
        margin-bottom: 0;
        width: 90%;
        border: 1px solid $subtext;
    }

    .cardTitle {
        margin: 10px 5px 10px 3rem;
        max-width: 80%;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #3E3E3E;

        h4 {
            margin: 0;
        }
    }

    .cardBody {
        display: flex;

        .arrows {
            margin-left: 8px;
            margin-right: 0px;
            display: flex;
            flex-direction: column;

            p {
                margin: 2px 0;
                font-size: small;
                color: $subtext;
            }
        }

        .imgContainer {
            width: 290px;
            height: 290px;
            margin-left: 1rem;
            border-radius: 15px;
            overflow: hidden;
            
            img {
                max-height: 100%;
                min-width: 100%;
            }
        }
    }

    .cardInteractions {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        p {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: $subtext;
            margin: 5px 1px;
        }

        .author {
            display: flex;
        }

        .comments {
            display: flex;
        }
    }


}