nav {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    background-color: white;
    
    .headerLogo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            padding: 0 10px;
            height: 60px;
        }

        .logoText {
            font-size: x-large;
        }
    }
}